CONFIG FILE FOR MAST-U BES system
-------------------------------------

APDCAM

RATE 4000000
DURATION 1.5
START -0.1
APD_BIAS_1 350
APD_BIAS_2 350
TEMPERATURE 20
APD_TRIG_DELAY 0.0
CLK_SRC 1
STREAM_IF enp1s0f0

STEPPER_MIRROR

VIEW_RADIUS 1.25
MIRROR_ANGLE 0.0

M_STEPS_SET 78803
M_STEPS_INIT 74000
M_MAX_SPEED 5000
M_HOLD_CURRENT 50
M_TIMEOUT 20
M_LIMIT_LOW -2000
M_LIMIT_HIGH 117000
M_STEPS_PER_DEGREE 0.0
M_STEPS_OFFSET 0

E_STEPS_TOLERANCE 100
E_STEPS_SET -2755
E_STEPS_INIT 0
E_STEPS_RATIO 0.0
E_STEPS_OFFSET 0

STEPPER_CAMERA

M_STEPS_SET 14238
M_STEPS_INIT 15500
M_MAX_SPEED 1000
M_HOLD_CURRENT 50
M_TIMEOUT 5
M_LIMIT_LOW -1900
M_LIMIT_HIGH 25000
M_STEPS_PER_DEGREE 0.0
M_STEPS_OFFSET 0

E_STEPS_TOLERANCE 100
E_STEPS_SET -2278
E_STEPS_INIT 0
E_STEPS_RATIO 0.0
E_STEPS_OFFSET 0

STEPPER_FILTER

M_STEPS_SET 60807
M_STEPS_INIT 60807
M_MAX_SPEED 0
M_HOLD_CURRENT 50
M_TIMEOUT 10
M_LIMIT_LOW -2000
M_LIMIT_HIGH 117000
M_STEPS_PER_DEGREE 0.0
M_STEPS_OFFSET 0

E_STEPS_TOLERANCE 100
E_STEPS_SET -2116400
E_STEPS_INIT 0
E_STEPS_RATIO 0.0
E_STEPS_OFFSET 0

STEPPER_LENS

M_STEPS_SET 45712
M_STEPS_INIT 50000
M_MAX_SPEED 5000
M_HOLD_CURRENT 50
M_TIMEOUT 1
M_LIMIT_LOW -6900
M_LIMIT_HIGH 124000
M_STEPS_PER_DEGREE 0.0
M_STEPS_OFFSET 0

E_STEPS_TOLERANCE 100
E_STEPS_SET -7314
E_STEPS_INIT 0
E_STEPS_RATIO 0.0
E_STEPS_OFFSET 0

FILTER_HEATER

FILTER_TYPE edge
TEMPERATURE 20
