CONFIG FILE FOR MAST-U BES system
-------------------------------------

APDCAM

RATE 1000000
DURATION 2.1
START -0.1
APD_BIAS_1 380
APD_BIAS_2 380
TEMPERATURE 26
APD_TRIG_DELAY 0.0
CLK_SRC 1
STREAM_IF enp1s0f0

STEPPER_MIRROR

VIEW_RADIUS 1.1
MIRROR_ANGLE 41.75

M_STEPS_SET 16695
M_STEPS_INIT 110000
M_MAX_SPEED 100
M_HOLD_CURRENT 40
M_TIMEOUT 20
M_LIMIT_LOW -130000
M_LIMIT_HIGH 117000
M_STEPS_PER_DEGREE 2216.855
M_STEPS_OFFSET -19006

E_STEPS_TOLERANCE 100
E_STEPS_SET -2671
E_STEPS_INIT -3855
E_STEPS_RATIO -0.03519
E_STEPS_OFFSET 16

STEPPER_CAMERA

M_STEPS_SET 15094
M_STEPS_INIT 110000
M_MAX_SPEED 100
M_HOLD_CURRENT 40
M_TIMEOUT 20
M_LIMIT_LOW -130000
M_LIMIT_HIGH 117000
M_STEPS_PER_DEGREE 2216.855
M_STEPS_OFFSET -19006

E_STEPS_TOLERANCE 100
E_STEPS_SET -2416
E_STEPS_INIT -3855
E_STEPS_RATIO -0.03519
E_STEPS_OFFSET 16

STEPPER_FILTER

M_STEPS_SET 15094
M_STEPS_INIT 110000
M_MAX_SPEED 100
M_HOLD_CURRENT 40
M_TIMEOUT 20
M_LIMIT_LOW -130000
M_LIMIT_HIGH 117000
M_STEPS_PER_DEGREE 2216.855
M_STEPS_OFFSET -19006

E_STEPS_TOLERANCE 100
E_STEPS_SET -2416
E_STEPS_INIT -3855
E_STEPS_RATIO -0.03519
E_STEPS_OFFSET 16

STEPPER_LENS

M_STEPS_SET 67481
M_STEPS_INIT 110000
M_MAX_SPEED 100
M_HOLD_CURRENT 40
M_TIMEOUT 20
M_LIMIT_LOW -130000
M_LIMIT_HIGH 117000
M_STEPS_PER_DEGREE 2216.855
M_STEPS_OFFSET -19006

E_STEPS_TOLERANCE 100
E_STEPS_SET -10799
E_STEPS_INIT -3855
E_STEPS_RATIO -0.03519
E_STEPS_OFFSET 16

FILTER_HEATER

FILTER_TYPE edge
TEMPERATURE 20
